In [1]:
import pandas as pd

In [2]:
#Task1
df=pd.read_csv("C:\\Users\\Admin\\Downloads\\Automobile_data.csv")
print("First six rows")
print(df.head(6))
print("Last six rows")
print(df.tail(6))

First six rows
   symboling normalized-losses         make fuel-type aspiration num-of-doors  \
0          3                 ?  alfa-romero       gas        std          two
1          3                 ?  alfa-romero       gas        std          two
2          1                 ?  alfa-romero       gas        std          two
3          2               164         audi       gas        std         four
4          2               164         audi       gas        std         four
5          2                 ?         audi       gas        std          two

    body-style drive-wheels engine-location  wheel-base  ...  engine-size  \
0  convertible          rwd           front        88.6  ...          130
1  convertible          rwd           front        88.6  ...          130
2    hatchback          rwd           front        94.5  ...          152
3        sedan          fwd           front        99.8  ...          109
4        sedan          4wd           front        99.4  ...          136
5        sedan          fwd           front        99.8  ...          136

   fuel-system  bore  stroke compression-ratio horsepower  peak-rpm city-mpg  \
0         mpfi  3.47    2.68               9.0        111      5000       21
1         mpfi  3.47    2.68               9.0        111      5000       21
2         mpfi  2.68    3.47               9.0        154      5000       19
3         mpfi  3.19     3.4              10.0        102      5500       24
4         mpfi  3.19     3.4               8.0        115      5500       18
5         mpfi  3.19     3.4               8.5        110      5500       19

  highway-mpg  price
0          27  13495
1          27  16500
2          26  16500
3          30  13950
4          22  17450
5          25  15250

[6 rows x 26 columns]
Last six rows
     symboling normalized-losses   make fuel-type aspiration num-of-doors  \
199         -1                74  volvo       gas      turbo         four
200         -1                95  volvo       gas        std         four
201         -1                95  volvo       gas      turbo         four
202         -1                95  volvo       gas        std         four
203         -1                95  volvo    diesel      turbo         four
204         -1                95  volvo       gas      turbo         four

    body-style drive-wheels engine-location  wheel-base  ...  engine-size  \
199      wagon          rwd           front       104.3  ...          130
200      sedan          rwd           front       109.1  ...          141
201      sedan          rwd           front       109.1  ...          141
202      sedan          rwd           front       109.1  ...          173
203      sedan          rwd           front       109.1  ...          145
204      sedan          rwd           front       109.1  ...          141

     fuel-system  bore  stroke compression-ratio horsepower  peak-rpm  \
199         mpfi  3.62    3.15               7.5        162      5100
200         mpfi  3.78    3.15               9.5        114      5400
201         mpfi  3.78    3.15               8.7        160      5300
202         mpfi  3.58    2.87               8.8        134      5500
203          idi  3.01     3.4              23.0        106      4800
204         mpfi  3.78    3.15               9.5        114      5400

    city-mpg highway-mpg  price
199       17          22  18950
200       23          28  16845
201       19          25  19045
202       18          23  21485
203       26          27  22470
204       19          25  22625

[6 rows x 26 columns]

In [3]:
#task2
# Step 1: Replace "?" and "n.a" in all columns with NaN
df.replace(["?", "n.a"], pd.NA, inplace=True)

# Step 2: Automatically identify numeric columns
numeric_columns = df.select_dtypes(include=["float64", "int64"]).columns

# Step 3: Process only numeric columns
for column in numeric_columns:
    df[column] = pd.to_numeric(df[column], errors="coerce")  # Convert to numeric, forcing invalid values to NaN
    df[column].fillna(df[column].mean(), inplace=True)       # Replace NaN with the column mean

# Print the cleaned dataset
print("Cleaned dataset:")
print(df)

Cleaned dataset:
     symboling normalized-losses         make fuel-type aspiration  \
0            3              <NA>  alfa-romero       gas        std
1            3              <NA>  alfa-romero       gas        std
2            1              <NA>  alfa-romero       gas        std
3            2               164         audi       gas        std
4            2               164         audi       gas        std
..         ...               ...          ...       ...        ...
200         -1                95        volvo       gas        std
201         -1                95        volvo       gas      turbo
202         -1                95        volvo       gas        std
203         -1                95        volvo    diesel      turbo
204         -1                95        volvo       gas      turbo

    num-of-doors   body-style drive-wheels engine-location  wheel-base  ...  \
0            two  convertible          rwd           front        88.6  ...
1            two  convertible          rwd           front        88.6  ...
2            two    hatchback          rwd           front        94.5  ...
3           four        sedan          fwd           front        99.8  ...
4           four        sedan          4wd           front        99.4  ...
..           ...          ...          ...             ...         ...  ...
200         four        sedan          rwd           front       109.1  ...
201         four        sedan          rwd           front       109.1  ...
202         four        sedan          rwd           front       109.1  ...
203         four        sedan          rwd           front       109.1  ...
204         four        sedan          rwd           front       109.1  ...

     engine-size  fuel-system  bore  stroke compression-ratio horsepower  \
0            130         mpfi  3.47    2.68               9.0        111
1            130         mpfi  3.47    2.68               9.0        111
2            152         mpfi  2.68    3.47               9.0        154
3            109         mpfi  3.19     3.4              10.0        102
4            136         mpfi  3.19     3.4               8.0        115
..           ...          ...   ...     ...               ...        ...
200          141         mpfi  3.78    3.15               9.5        114
201          141         mpfi  3.78    3.15               8.7        160
202          173         mpfi  3.58    2.87               8.8        134
203          145          idi  3.01     3.4              23.0        106
204          141         mpfi  3.78    3.15               9.5        114

     peak-rpm city-mpg highway-mpg  price
0        5000       21          27  13495
1        5000       21          27  16500
2        5000       19          26  16500
3        5500       24          30  13950
4        5500       18          22  17450
..        ...      ...         ...    ...
200      5400       23          28  16845
201      5300       19          25  19045
202      5500       18          23  21485
203      4800       26          27  22470
204      5400       19          25  22625

[205 rows x 26 columns]

C:\Users\Admin\AppData\Local\Temp\ipykernel_40868\271570692.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[column].fillna(df[column].mean(), inplace=True)       # Replace NaN with the column mean

In [5]:
#task3 
# Ensure 'horsepower' column is numeric
# Convert 'horsepower' to numeric, coercing invalid entries to NaN
df["horsepower"] = pd.to_numeric(df["horsepower"], errors="coerce")

# Handle missing values in 'horsepower'
# Fill NaN values in 'horsepower' with the column mean
df["horsepower"].fillna(df["horsepower"].mean(), inplace=True)

# Find the row with the minimum horsepower
# Use idxmin() to get the index of the first occurrence of the minimum value
result = df.loc[df["horsepower"].idxmin(), ["make", "horsepower"]]

# Print the result
print("Car manufacturer with the least horsepower:")
print(result)

Car manufacturer with the least horsepower:
make          chevrolet
horsepower         48.0
Name: 18, dtype: object

C:\Users\Admin\AppData\Local\Temp\ipykernel_40868\1335175896.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["horsepower"].fillna(df["horsepower"].mean(), inplace=True)

In [6]:
#task4
# Filter rows where the manufacturer is BMW
bmw_vehicles = df[df["make"].str.lower() == "bmw"]
print("All vehicles from BMW:")
print(bmw_vehicles)

All vehicles from BMW:
    symboling normalized-losses make fuel-type aspiration num-of-doors  \
10          2               192  bmw       gas        std          two
11          0               192  bmw       gas        std         four
12          0               188  bmw       gas        std          two
13          0               188  bmw       gas        std         four
14          1              <NA>  bmw       gas        std         four
15          0              <NA>  bmw       gas        std         four
16          0              <NA>  bmw       gas        std          two
17          0              <NA>  bmw       gas        std         four

   body-style drive-wheels engine-location  wheel-base  ...  engine-size  \
10      sedan          rwd           front       101.2  ...          108
11      sedan          rwd           front       101.2  ...          108
12      sedan          rwd           front       101.2  ...          164
13      sedan          rwd           front       101.2  ...          164
14      sedan          rwd           front       103.5  ...          164
15      sedan          rwd           front       103.5  ...          209
16      sedan          rwd           front       103.5  ...          209
17      sedan          rwd           front       110.0  ...          209

    fuel-system  bore  stroke compression-ratio horsepower  peak-rpm city-mpg  \
10         mpfi   3.5     2.8               8.8      101.0      5800       23
11         mpfi   3.5     2.8               8.8      101.0      5800       23
12         mpfi  3.31    3.19               9.0      121.0      4250       21
13         mpfi  3.31    3.19               9.0      121.0      4250       21
14         mpfi  3.31    3.19               9.0      121.0      4250       20
15         mpfi  3.62    3.39               8.0      182.0      5400       16
16         mpfi  3.62    3.39               8.0      182.0      5400       16
17         mpfi  3.62    3.39               8.0      182.0      5400       15

   highway-mpg  price
10          29  16430
11          29  16925
12          28  20970
13          28  21105
14          25  24565
15          22  30760
16          22  41315
17          20  36880

[8 rows x 26 columns]

In [7]:
#task5
# Count the number of vehicles for each manufacturer
vehicles_per_manufacturer = df["make"].value_counts()
print("Number of vehicles per manufacturer:")
print(vehicles_per_manufacturer)

Number of vehicles per manufacturer:
make
toyota           32
nissan           18
mazda            17
mitsubishi       13
honda            13
volkswagen       12
subaru           12
peugot           11
volvo            11
dodge             9
mercedes-benz     8
bmw               8
audi              7
plymouth          7
saab              6
porsche           5
isuzu             4
jaguar            3
chevrolet         3
alfa-romero       3
renault           2
mercury           1
Name: count, dtype: int64

In [8]:
#task6
# Use idxmax() to locate the row with the maximum price for each manufacturer
most_expensive_vehicles = df.loc[df.groupby("make")["price"].idxmax(), ["make", "price"]]

# Step 4: Print the result
print("Most expensive vehicle from each manufacturer along with its price:")
print(most_expensive_vehicles)

Most expensive vehicle from each manufacturer along with its price:
              make  price
1      alfa-romero  16500
8             audi  23875
16             bmw  41315
20       chevrolet   6575
28           dodge   8921
38           honda   9095
43           isuzu   6785
49          jaguar  36000
59           mazda   8845
74   mercedes-benz  45400
75         mercury  16503
80      mitsubishi   9959
100         nissan   9549
117         peugot  18150
123       plymouth   8921
128        porsche  37028
131        renault   9895
137           saab  18620
143         subaru   9960
169         toyota   9989
188     volkswagen   9995
204          volvo  22625

In [9]:
#task7
# Calculate the mean city mileage grouped by manufacturer
average_city_mpg = df.groupby("make")["city-mpg"].mean()
print("Average city mileage for each manufacturer:")
print(average_city_mpg)

Average city mileage for each manufacturer:
make
alfa-romero      20.333333
audi             18.857143
bmw              19.375000
chevrolet        41.000000
dodge            28.000000
honda            30.384615
isuzu            31.000000
jaguar           14.333333
mazda            25.705882
mercedes-benz    18.500000
mercury          19.000000
mitsubishi       24.923077
nissan           27.000000
peugot           22.454545
plymouth         28.142857
porsche          17.400000
renault          23.000000
saab             20.333333
subaru           26.333333
toyota           27.500000
volkswagen       28.583333
volvo            21.181818
Name: city-mpg, dtype: float64

In [10]:
#task8
# Sort the DataFrame by price in descending order
sorted_by_price = df.sort_values(by="price", ascending=False)

# Display the sorted result with 'make' and 'price' columns
print("Data sorted by price (descending):")
print(sorted_by_price[["make", "price"]])

Data sorted by price (descending):
           make  price
188  volkswagen   9995
169      toyota   9989
175      toyota   9988
190  volkswagen   9980
143      subaru   9960
..          ...    ...
147      subaru  10198
9          audi   <NA>
44        isuzu   <NA>
45        isuzu   <NA>
129     porsche   <NA>

[205 rows x 2 columns]

In [11]:
#task9
# Count the number of vehicles for each body style
body_style_counts = df["body-style"].value_counts()
print("Number of vehicles for each body style:")
print(body_style_counts)

Number of vehicles for each body style:
body-style
sedan          96
hatchback      70
wagon          25
hardtop         8
convertible     6
Name: count, dtype: int64

In [13]:
#task10
# Ensure 'price' is numeric and cleaned (if not done in Task 2)
df["price"] = pd.to_numeric(df["price"], errors="coerce")
df["price"].fillna(df["price"].mean(), inplace=True)
# Calculate the average price grouped by fuel type
average_price_fuel_type = df.groupby("fuel-type")["price"].mean()
print("Average price of cars for each fuel type:")
print(average_price_fuel_type)

Average price of cars for each fuel type:
fuel-type
diesel    15838.150000
gas       12922.694689
Name: price, dtype: float64

C:\Users\Admin\AppData\Local\Temp\ipykernel_40868\582125625.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["price"].fillna(df["price"].mean(), inplace=True)

In [14]:
#task11
# Define two DataFrames for German and Japanese cars
german_cars = pd.DataFrame({
    "Company": ["Audi", "BMW", "Mercedes-Benz", "Volkswagen"],
    "Price": [17859, 26119, 33647, 10078]
})
japanese_cars = pd.DataFrame({
    "Company": ["Toyota", "Honda", "Nissan", "Mazda"],
    "Price": [17669, 8185, 11845, 8495]
})

# Concatenate the two DataFrames
combined_cars = pd.concat([german_cars, japanese_cars], ignore_index=True)
print("Concatenated DataFrame:")
print(combined_cars)

Concatenated DataFrame:
         Company  Price
0           Audi  17859
1            BMW  26119
2  Mercedes-Benz  33647
3     Volkswagen  10078
4         Toyota  17669
5          Honda   8185
6         Nissan  11845
7          Mazda   8495

In [15]:
# Define two DataFrames for price and horsepower
car_price = pd.DataFrame({
    "Company": ["Toyota", "Honda", "BMW", "Audi"],
    "Price": [17669, 12945, 41315, 23875]
})
car_horsepower = pd.DataFrame({
    "Company": ["Toyota", "Honda", "BMW", "Audi"],
    "Horsepower": [161, 101, 182, 160]
})

# Merge the two DataFrames on the 'Company' column
merged_df = pd.merge(car_price, car_horsepower, on="Company")
print("Merged DataFrame:")
print(merged_df)

Merged DataFrame:
  Company  Price  Horsepower
0  Toyota  17669         161
1   Honda  12945         101
2     BMW  41315         182
3    Audi  23875         160